@media screen and (min-width: 1200px) {
  .navbar-nav {
    margin-left: 200px;
  }
  .navbar-brand {
    margin-left: 100px !important;
  }
  .nav-link {
    margin-left: 30px;
  }
  .span-item {
    margin-left: 200px;
  }
  .span-item span {
    padding-right: 20px;
    font-weight: bold;
  }
  .text {
    position: absolute;
    top: 0;
    width: inherit;
    height: 300px;
    left: 35%;
    top: 15%;
    /* color: white; */

    z-index: 10;
  }
  #demo {
    display: none;
  }
  .section-1 {
    width: 80%;
    margin: auto;
    height: 100px;
    align-items: center;
    text-align: center;
  }

  .text div {
    margin-bottom: 250px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 50px black;
  }
  .col-md-4 {
    transform: 0.1s;
  }
  .text div .btn {
    background-color: transparent;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 180px;
    border-radius: 0;
    transition: 0.3s;
  }

  .col-lg-4:hover .btn {
    transform: translateX(5px);
    background-color: black;
  }

  .col-md-4 img {
    opacity: 0.6;
  }
  .section-3 {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  .section-3 img {
    width: 100%;
    height: 400px;
  }
  .column-1 {
    margin-left: -12px;
  }
  .section-4 {
    width: 80%;
    margin: auto;
  }
  .section-5 {
    position: relative;
  }
  .section-5 img {
    height: 600px;
  }
  .section-7 {
    width: 80%;
    margin: auto;
  }
  .section-7 .row .col-md-2 img {
    width: 100%;
    height: 130px;
  }
  .override {
    display: flex;
    justify-content: space-around;
  }
  .end-page {
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .override .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  span {
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  h5 {
    font-size: 12px;
  }
  #demo {
    display: block;
  }
  #demo1 {
    display: none;
  }
  .section-7 {
    width: 90%;
    margin: auto;
  }
  .hide-img {
    display: none;
  }
  .section-1 {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
  }
  .span-text {
    font-size: 15px !important;
  }
  .section-4 {
    width: 100%;
    margin: 0;
  }
  .col {
    width: 100%;
  }
  .section-5 img {
    width: 100%;
    height: 350px !important;
  }
  .section-5 {
    position: relative;
  }
  .timer div p {
    font-size: 25px !important;
    color: red;
    font-weight: 600;
    margin-bottom: 0;
    padding: 10px;
  }
  .section-7 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .end-page .row-1 {
    width: 95% !important;
    margin: auto;
    margin-top: 70px;
  }
  .timer {
    position: absolute;
    left: 10% !important;
    display: flex;
    top: 50% !important;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .btnn {
    position: absolute;
    left: 20% !important;
    margin: 5px !important;
    top: 80% !important;
    padding: 10px !important;
  }
  .timer div p {
    font-size: 25px !important;
  }
  .section-6 {
    width: 100% !important;
    /* margin: 10px !important; */
  }
  .section-7 .row .col-md-4 .row .col img {
    width: 100%;
    height: 100px;
  }
  .row-2 h2 {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .row-2 {
    width: 100%;
    text-align: left;
    margin: 10px;
  }
  .row-2 .col-lg-8 .row {
    width: 100%;
    margin: auto;
    display: flex;
  }
  .section-8 {
    height: 250px;
    width: 100%;
    margin: 0;
  }
  .section-8 span img {
    margin-top: -10px;
  }
  .override {
    display: flex;
    flex-direction: column;
  }
  .end-page .row-1 .col-8 input {
    width: 100%;
    background-color: rgba(233, 29, 29, 0.579);
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    color: white;
    margin-top: 20px;
  }
  .end-page h1 {
    font-size: 18px;
  }
  .end-page .row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
  }
  .end-page .row-1 .col-4 button {
    width: 100px;
    border: none;
    font-size: small;
    padding: 10px;
    color: white;
    margin-left: 50px;
    background-color: rgba(255, 0, 0, 0.627);
  }
  .row-2 .col-lg-3 span {
    padding: 10px 0 10px;
  }
  h6 {
    margin: 10px 0 10px;
  }
}
